@page "/fetchdata"
@layout MonkeySingleLayout
@using libanvl.monkey
@using libanvl.monkey.Model
@using libanvl.monkey.metal
@using libanvl.monkey.metal.Model
@inject GitHubApiHttpClient Http

<PageTitle>GitHub API Rate Limits</PageTitle>

@if (limits == null)
{
    <site.demo.Shared.Loading />
}
else
{
    <MonkeyPage Meta="@(new PageMeta{Title = "Rate Limits"})" EnableActions="@false">

        <table class="table">
            <thead>
                <tr>
                    <th>Resource</th>
                    <th>Limit</th>
                    <th>Used</th>
                    <th>Remaining</th>
                    <th>Reset</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var limit in limits)
                {
                    <tr>
                        <td>@limit.Resource</td>
                        <td>@limit.Limit</td>
                        <td>@limit.Used</td>
                        <td>@limit.Remaining</td>
                        <td>@limit.Reset</td>
                    </tr>
                }
            </tbody>
        </table>
    </MonkeyPage>
}

@code {
    private List<Rate>? limits;

    protected override async Task OnInitializedAsync()
    {
        var rateLimits = await Http.GetRateLimitsAsync();
        limits = new()
            {
                rateLimits.Resources.Core,
                rateLimits.Resources.Graphql,
                rateLimits.Resources.Search,
                rateLimits.Resources.Integration_Manifest,
            };
    }
}
